@import "../../../common/stylus/mixins.styl"
.profile_page
  width 100%
  height 100%
  background-color #f6f6f6
  /*中间部分 登录界面*/
  .info_login_container
    width 94%
    margin 0 10px 0 10px
    &::before
      content ""
      width 100%
      height 60px
      display block
      background-color #f6f6f6
    .profile_to_login
      clearFix()
      display block
      width 100%
      height 100px
      border 1px #ffffff solid
      border-radius 25px
      background-color: #ffffff
      /*如果在这层这样使行内元素居中，那么login_information会缺失元素*/
      /*line-height 100px*//*三个行内元素垂直居中*/
      color black
      .person_icon_container
        float left
        margin-left 10px
        height 100px  /*垂直居中*/
        line-height 100px
        .iconfont
          font-size 60px
          color grey
      .login_information
        float left
        margin-left 16px
        margin-top 29px
        .login_tips
          display block
          font-size 18px
        .login_phone
          display block
          margin-top 14px
          font-size 13px
          .iconfont
            font-size 18px
            margin-right 2px
      .to_login
        float right
        margin-right 18px
        height 100px
        line-height 100px
        .iconfont
          font-size 14px
  /*zzz中间部分：钱包*/
  .profile_money
    background-color: #ffffff
    width 94%
    margin 10px 10px 0 10px
    border 1px #ffffff solid
    border-radius 25px
    .my_money
      width 100%
      font-size 20px
      color black
      padding-left 10px
      padding-top 10px
    .pay_container
      display flex  /*四列布局*/
      width 100%
      flex-direction row
      justify-content center
      >a
        flex 1
        height 80px
        /*border-right 1px #e4e4e4 solid*/
        .info_name_container
          width 100%
          padding-top 15px
          text-align center
          .iconfont
            font-size 23px
            color red
          .info_name
            font-size 18px
            color black
            padding-left 2px
        .info_details
          padding-top 15px
          width 100%
          text-align center
          .info_number
            font-size 20px
          .info_unit
            margin-left 3px
            font-size 14px
            color black
  /*zzz中间部分：常用功能*/
  .profile_often
    background-color: #ffffff
    width 94%
    margin 10px 10px 0 10px
    border 1px #ffffff solid /*显示边框*/
    border-radius 25px  /*边框圆角*/
    .my_often
      width 100%
      font-size 20px
      color black
      padding-left 10px
      padding-top 10px
    .often_container
      display flex  /*四列布局*/
      width 100%
      flex-direction row
      justify-content start
      align-items center
      flex-wrap wrap
      margin-top 10px
      >a
        width 25%
        padding 10px 0 10px 0
        .often_name_icon
          display block
          text-align center
          width 100%
          .iconfont
            font-size 23px
            color #02b6fd
        .often_name
          margin-top 10px
          display block
          width 100%
          text-align center
          font-size 16px
          color black
    .logout
      width 100%
      background-color #ffffff
      font-size 28px
      border 1px #ffffff solid /*显示边框*/
      border-radius 25px  /*边框圆角*/
      color red
      outline none
  /*底部部导航*/
  .footer_container
    top-border-1px(#e4e4e4) /*一像素上边框*/
    position fixed /*固定定位在底部*/
    z-index 100 /*显示级别*/
    bottom 0
    left 0
    width 100%
    height 50px
    background-color: #ffffff;
    display flex  /*实现四列两行*/
    flex-direction row /*主轴行排*/
    justify-content center /*主轴对齐方式*/
    .footer_item
      flex 1
      display flex  /*实现两行*/
      text-align center /*行内元素居中*/
      flex-direction column
      align-items center
      margin 5px
      color #999999
      &.on
        color #02a774
      span
        font-size 12px
        margin-top 2px
        margin-bottom 2px
        .iconfont
          font-size 22px