@import "../../../common/stylus/mixins.styl"
.login_static
  width 100%
  height 100%
  background-color #ffffff
  .login_back
    width 100%
    padding-top 20px /*如果设置margin的话，则背景中margin的高度是另外一种颜色*/
    .iconfont
      font-size 38px
      color grey
  .login_title
    width 100%
    margin 40px 0
    text-align center
    font-size 30px
  .login_ways
    box-sizing border-box  /*这样设置padding，不会影响子元素*/
    width 100%
    padding 0 40px
    .way_name
      text-align center
      >span
        font-size 16px
        color black
      .password_login
        margin-left 20px
    .way_content
      width 100%
      margin-top 16px
      .login_way_details
        width 100%
        /*暂时隐藏手机登录*/
        .on
          display none
        .phone_container
          .telephone_num
            box-sizing border-box
            width 90%
            margin 10px auto 0 /*水平居中，上面距离*/
            height 42px
            font-size 14px
            border 2px darkgrey solid
            >input
              display inline-block
              box-sizing border-box  /*设置padding时，不会影响元素大小*/
              padding-left 10px
              width 100%
              height 38px
              line-height 38px
              outline none
          .verification_container
            clearFix()
            box-sizing border-box  /*为了与button大小一致，因为botton宽度按border-box计算*/
            width 90%
            margin 15px auto 0 /*水平居中，上面距离*/
            height 42px
            font-size 14px
            border 2px darkgrey solid
            >input
              float left
              width 65%
              height 38px
              line-height 38px
              outline none /*无外边框*/
              margin-left 10px
            >button
              float right
              margin-top 7px
              font-size 14px
              margin-right 5px
              background-color: #ffffff
              border 2px darkgrey solid
              border-radius 25px
            .password_icon
              float right
              height 42px
              line-height 42px
              text-align right
              .iconfont
                font-size 25px
                margin-right 10px
          .verification_summit
            width 90%
            margin 15px auto 0 /*水平居中，上面距离*/
            line-height 38px
            font-size 14px
            >button
              display block
              width 100%
              height 40px
              background-color: #f6f6f6
              border 2px darkgrey solid
              border-radius 25px
              font-size 16px
          .login_tips
            width 90%
            margin 15px auto 0 /*水平居中，上面距离*/
            font-size 14px
            line-height 18px /*字体间间距*/ /*为何该值与高度一样时，行内元素居中？？*/
            color gray