@import "../../../common/stylus/mixins.styl"
.login_static
  width 100%
  height 100%
  background-color #ffffff
  .login_back
    display block
    width 100%
    margin-left 10px
    padding-top 20px /*如果设置margin的话，则背景中margin的高度是另外一种颜色*/
    .iconfont
      font-size 26px
      color grey
  .content
    width 100%
    margin-top 100px
    text-align center
    font-size 30px