.buy_num_con
  float right
  .iconfont_con_1
    display inline-block
    border 1px #facd3b solid
    border-radius 5px
    height 20px
    width  20px
    line-height 20px
    text-align center
    .iconfont
      font-size 14px
      color black
  .buy_num
    font-size 14px
    margin 0 10px
    color black
  .iconfont_con_2
    display inline-block
    border 1px #facd3b solid
    border-radius 5px
    height 20px
    width  20px
    line-height 20px
    text-align center
    background-color #facd3b
    .iconfont
      font-size 14px
      color black